<h1>독트린</h1>
<%if(sess){if(sess.data){if(sess.data.isAdmin==true){%>
    <div class="btn-group">
        <a href="/doctrine/add/"> <button type="button" class="btn btn-sm btn-outline-secondary">New Doctrine</button></a>
    </div>
<%}}}%>
<%for(doctrine of doctrines){%>
<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="<%=doctrine.CoverImg%>"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b><%=doctrine.Name%></b></h4>
          <p class="card-text"><%=doctrine.SubTitle%></p>
          <a href="/doctrine/<%=doctrine.Doctrine_ID%>" class="btn btn-primary">Show Detail</a>
        </div>
    </div>
</div>
<%}%>