<h1>독트린</h1>


<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="https://images.evetech.net/types/17738/render?size=512"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b>아머 마차리얼 플릿</b></h4>
          <p class="card-text">※최우선 주전력으로 사용되는 아머 마차리얼독트린</p>
          <a href="#" class="btn btn-primary">Show Detail</a>
        </div>
    </div>
</div>
<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="https://dcimg5.dcinside.com/dccon.php?no=62b5df2be09d3ca567b1c5bc12d46b394aa3b1058c6e4d0ca41648b65ce2236efb7d2cc7cb8c25bc8b4d95aea6c2735495337e8f7194156d6b5aeb820c4c58cc4c284fa4"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b>KKM</b></h4>
          <p class="card-text">엡번키키모라 갱킹 플릿</p>
          <a href="#" class="btn btn-primary">Show Detail</a>
        </div>
    </div>
</div>
<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="https://images.evetech.net/types/16227/render?size=512"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b>레일건 페록스 플릿</b></h4>
          <p class="card-text">※최우선 주전력으로 사용되는 레일건 페록스 플릿</p>
          <a href="#" class="btn btn-primary">Show Detail</a>
        </div>
    </div>
</div>
<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="https://dcimg5.dcinside.com/dccon.php?no=62b5df2be09d3ca567b1c5bc12d46b394aa3b1058c6e4d0ca41648b65ce2236efb7d2cc7cb8c25bc8b4d95aea6c2735495337e8f7194156d6b5aeb820c4c58cb73c3d0e320"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b>아머 레샥플릿</b></h4>
          <p class="card-text">레샥플릿 존나쎔</p>
          <a href="#" class="btn btn-primary">Show Detail</a>
        </div>
    </div>
</div>
<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="https://images.evetech.net/types/19720/render?size=512"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b>4대팩션 버퍼드넛</b></h4>
          <p class="card-text">드넛이 많으면 행복해져요</p>
          <a href="#" class="btn btn-primary">Show Detail</a>
        </div>
    </div>
</div>
<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="https://dcimg5.dcinside.com/dccon.php?no=62b5df2be09d3ca567b1c5bc12d46b394aa3b1058c6e4d0ca41648b651eb3a329dc4811be5ff2a7d1e4e2651342d9a111834ff47f518e75aa842a70f5691822ea88fedf17b"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b>캐피탈 피팅 모음</b></h4>
          <p class="card-text">모든캐피탈 피팅 모아보기</p>
          <a href="#" class="btn btn-primary">Show Detail</a>
        </div>
    </div>
</div>