<div class="card py-1" style="width: 100%;">
    <div class="row no-gutters">
        <img src="https://images.evetech.net/types/17738/render?size=512"  style="width: 10rem;height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="font-family:'Malgun Gothic';"><b>아머 마차리얼 플릿</b></h4>
            <h5 class="card-text"><b>※최우선 주전력으로 사용되는 아머 마차리얼독트린</b></h5>
            <p class="card-text">마차스킬 안되는 사람들은 스콜피온같은 다른배라도 타고나오고 스킬빨리칠것 <br>
                리핏모듈 꼭챙기고 언독전에 공지된 피팅으로 리핏할것, 리핏모듈 전투중에도 가지고 다닐것
            </p>
        </div>
    </div>
    <br><br>
    <h3>DPS</h3>
    <div class="album py-2 bg-light">
        <div class="container">
          <div class="d-inline-flex flex-wrap">
            
              <er id="fitBody_0" style="display:none">[Osprey, Osprey]<br>Capacitor Power Relay II<br>Damage Control II<br>Power Diagnostic System II<br><br>50MN Cold-Gas Enduring Microwarpdrive<br>Adaptive Invulnerability Field II<br>Adaptive Invulnerability Field II<br>EM Ward Field II<br>Large Shield Extender II<br><br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br><br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br><br><br><br>Warrior II x4<br><br><br></er>
            <div class="card m-1 p-2 d-inline-flex flex-wrap" style="width: 230px;">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.evetech.net/types/17738/render?size=512" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
              <p class="card-text h5 mb-0">Machariel</p>
              <p class="card-text m-0 mb-2">Machariel</p>
              <p class="card-text h6 m-0 mb-2">
                <span class="badge badge-primary">Armor</span>
              
                <span class="badge badge-primary">DPS</span>
              
                <span class="badge badge-primary">한인</span>

                <span class="badge badge-primary">RC</span>
              </p>
              <div class="btn-group">
                <a href="/fitdetail/101"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <a onclick="copyToClipboard('er#fitBody_0')"> <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button></a>
                
              </div>
            </div>
            <er id="fitBody_0" style="display:none">[Osprey, Osprey]<br>Capacitor Power Relay II<br>Damage Control II<br>Power Diagnostic System II<br><br>50MN Cold-Gas Enduring Microwarpdrive<br>Adaptive Invulnerability Field II<br>Adaptive Invulnerability Field II<br>EM Ward Field II<br>Large Shield Extender II<br><br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br><br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br><br><br><br>Warrior II x4<br><br><br></er>
              <div class="card m-1 p-2 d-inline-flex flex-wrap" style="width: 230px;">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.evetech.net/types/640/render?size=512" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
                <p class="card-text h5 mb-0">Scorpion (Machs support)</p>
                <p class="card-text m-0 mb-2">Scorpion</p>
                <p class="card-text h6 m-0 mb-2">
                  <span class="badge badge-primary">Armor</span>
                
                  <span class="badge badge-primary">DPS</span>
                
                  <span class="badge badge-primary">한인</span>
                </p>
                <div class="btn-group">
                  <a href="/fitdetail/101"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  <a onclick="copyToClipboard('er#fitBody_0')"> <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button></a>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      <h3>LOGI</h3>
    <div class="album py-2 bg-light">
        <div class="container">
          <div class="d-inline-flex flex-wrap">
            
            <er id="fitBody_0" style="display:none">[Osprey, Osprey]<br>Capacitor Power Relay II<br>Damage Control II<br>Power Diagnostic System II<br><br>50MN Cold-Gas Enduring Microwarpdrive<br>Adaptive Invulnerability Field II<br>Adaptive Invulnerability Field II<br>EM Ward Field II<br>Large Shield Extender II<br><br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br><br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br><br><br><br>Warrior II x4<br><br><br></er>
            <div class="card m-1 p-2 d-inline-flex flex-wrap" style="width: 230px;">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.evetech.net/types/11987/render?size=512" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
              <p class="card-text h5 mb-0">Guardian</p>
              <p class="card-text m-0 mb-2">Guardian</p>
              <p class="card-text h6 m-0 mb-2">
                <span class="badge badge-primary">Armor</span>
              
                <span class="badge badge-primary">LOGI</span>

                <span class="badge badge-primary">RC</span>
              </p>
              <div class="btn-group">
                <a href="/fitdetail/101"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <a onclick="copyToClipboard('er#fitBody_0')"> <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button></a>
                
              </div>
            </div>
            <er id="fitBody_0" style="display:none">[Osprey, Osprey]<br>Capacitor Power Relay II<br>Damage Control II<br>Power Diagnostic System II<br><br>50MN Cold-Gas Enduring Microwarpdrive<br>Adaptive Invulnerability Field II<br>Adaptive Invulnerability Field II<br>EM Ward Field II<br>Large Shield Extender II<br><br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br><br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br><br><br><br>Warrior II x4<br><br><br></er>
            <div class="card m-1 p-2 d-inline-flex flex-wrap" style="width: 230px;">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.evetech.net/types/49713/render?size=512" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
              <p class="card-text h5 mb-0">Zarmazd</p>
              <p class="card-text m-0 mb-2">Zarmazd</p>
              <p class="card-text h6 m-0 mb-2">
                <span class="badge badge-primary">Armor</span>
              
                <span class="badge badge-primary">LOGI</span>
              
                <span class="badge badge-primary">한인</span>
              </p>
              <div class="btn-group">
                <a href="/fitdetail/101"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <a onclick="copyToClipboard('er#fitBody_0')"> <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button></a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>Support</h3>
      <div class="album py-2 bg-light">
          <div class="container">
            <div class="d-inline-flex flex-wrap">
              
              <er id="fitBody_0" style="display:none">[Osprey, Osprey]<br>Capacitor Power Relay II<br>Damage Control II<br>Power Diagnostic System II<br><br>50MN Cold-Gas Enduring Microwarpdrive<br>Adaptive Invulnerability Field II<br>Adaptive Invulnerability Field II<br>EM Ward Field II<br>Large Shield Extender II<br><br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br><br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br><br><br><br>Warrior II x4<br><br><br></er>
              <div class="card m-1 p-2 d-inline-flex flex-wrap" style="width: 230px;">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.evetech.net/types/11987/render?size=512" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
                <p class="card-text h5 mb-0">Guardian</p>
                <p class="card-text m-0 mb-2">Guardian</p>
                <p class="card-text h6 m-0 mb-2">
                  <span class="badge badge-primary">Armor</span>
                
                  <span class="badge badge-primary">LOGI</span>
  
                  <span class="badge badge-primary">RC</span>
                </p>
                <div class="btn-group">
                  <a href="/fitdetail/101"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  <a onclick="copyToClipboard('er#fitBody_0')"> <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button></a>
                  
                </div>
              </div>
              <er id="fitBody_0" style="display:none">[Osprey, Osprey]<br>Capacitor Power Relay II<br>Damage Control II<br>Power Diagnostic System II<br><br>50MN Cold-Gas Enduring Microwarpdrive<br>Adaptive Invulnerability Field II<br>Adaptive Invulnerability Field II<br>EM Ward Field II<br>Large Shield Extender II<br><br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium 'Regard' Remote Capacitor Transmitter<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br>Medium Murky Compact Remote Shield Booster<br><br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br>Medium Core Defense Field Extender I<br><br><br><br>Warrior II x4<br><br><br></er>
              <div class="card m-1 p-2 d-inline-flex flex-wrap" style="width: 230px;">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.evetech.net/types/49713/render?size=512" preserveaspectratio="xMidYMid slice" focusable="false" role="img">
                <p class="card-text h5 mb-0">Zarmazd</p>
                <p class="card-text m-0 mb-2">Zarmazd</p>
                <p class="card-text h6 m-0 mb-2">
                  <span class="badge badge-primary">Armor</span>
                
                  <span class="badge badge-primary">LOGI</span>
                
                  <span class="badge badge-primary">한인</span>
                </p>
                <div class="btn-group">
                  <a href="/fitdetail/101"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  <a onclick="copyToClipboard('er#fitBody_0')"> <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button></a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

</div>